@font-face {
    font-family: Adieu Bold;
    src: url(adieu-bold-webfont.woff);
}

@font-face {
    font-family: Adieu Light;
    src: url(adieu-light-webfont.woff);
}

body {
	font-family: Adieu Bold;
	font-size: 16px;
	line-height: 1.5;

	background-color: #ffffff;
	color: #ffda00;
  margin: 0;
}

canvas {
  vertical-align:  bottom;
}
